body {
    background-image: url('image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Reset some default styles for the list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style for the navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo h1 {
    margin: 0;
    color: white;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-list li {
    margin-right: 20px;
}

.navbar-list a {
    text-decoration: none;
    color: white;
}
/* Style for the navbar links */
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 75px;
    text-decoration: none;
    
}

/* Change color on hover */ 
.navbar a:hover {
    background-color: #ddd;
    color: #ffffff;
}

/* Style for the active link */
.navbar a.active {
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .navbar-list.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 40px 0;
}

h1,h2,h3,h5{
    color: #ffffff;
}

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
  }

    #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
  }

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Poppins', sans-serif; 
  }
  
  .project {
    background-color: #8c8787;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif; 
  }  

p {
    line-height: 1.6;
    color: #ffffff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

